#map{
  height:100%;
}

#decide{
  margin-top:10%;
}

#letchworthBanner{

  max-width:100%;
  height:auto;

}

#reportType{
  margin-left:10%;
}

.sectionInput{
  padding-top:5%;
}

#cabinPhoto{

  max-width:80%;
  height:auto;
  margin-left:10%;
  margin-right:10%;

}
#bookCabin{
  bottom:0px;
  float:right;
  margin-bottom:5%;
}

/* override white background in sidebar*/
.sidebar-content{
  position:absolute;
  top:0;
  bottom:0;
  background-color:rgba(255,255,255,0.5);
  overflow-x:hidden;
  overflow-y:auto;
}
.sidebar{
  height:75%;
  font-family:'Ubuntu';
}
.sidebar.collapsed{/* make sidebar wider*/
  width:45px;
}

.sectionInput{
  font-size: 1.3em;
}



.ol-zoom{
  left:95%;
  top:90%;
}

.sidebar-tabs, .sidebar-header, #collapse{
  background-color:#393E47;
}

#hikeIcon,#photoIcon,#infoTab,#tourSite,#adminIcon,#sleepIcon,#infoIcon,#searchIcon{
  margin-top:5px;
  height:80%;
}

.sidebar-pane{
  padding:2px 5px;
}

.accordion{ /*get rid of the sliver for lodging tab.. */
  margin-left:-5px;
}

.card-header{
  padding-left:40px;
  /*padding:0px 0px 0px 0px;*/
  background-color:#393E47;
  /*margin-left:10%;*/

}

.btn-info{
  background-color: #6c757d;
  border-color:#393E47;
}

.btn-link{
  color:white;
}

/*
#submitVals,#searchTrails{
  background-color:#393E47;
  color: white;
  border-color:#fd8d3c;
  font-weight:normal;
  width:50%;
}


#submitVals:hover,#searchTrails:hover{
  background-color:white;
  color: black;
}
*/

/* Add CSS for sidebar height */
@media (min-width: 768px) {
    /*.sidebar {
        height: 75%;
    }*/
}

/* Slider stuff */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#submitReport{
  margin-top:5%;
  margin-left:75%;
}

.layer-switcher {
    position: initial;
}

.btn-primary{
  background-color: #6c757d;
  border-color:#393E47;
}

/*Popup*/
.ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 2px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 200px;
      }


      #popup-content,#popup-contentCampGround{
        font-family:'Ubuntu';
        font-size: 80%;

      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
